<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleSignInNonce</key>
	<string>tw_D5JuKNrrj1LAct51dufkCBSrdyEpR</string>
	<key>baseURL</key>
	<string>https://planus.shop</string>
</dict>
</plist>
